/* Reset minimalista */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* Variables globales */
:root {
    --bg: #0f172a;
    --panel: rgba(255, 255, 255, 0.06);
    --border: rgba(255, 255, 255, 0.15);
    --accent: #38bdf8;
    --success: #22c55e;
    --error: #ef4444;
    --text: #e5e7eb;
    --muted: #94a3b8;
    --font-main: "Inter";
}

body {
    font-family: var(--font-main);
    font-size: 16px;
    background: radial-gradient(circle at top, #020617, #020617 60%);
    color: var(--text);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;


}
